@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background-image: linear-gradient(to right, #006838, #8CC63F);
}
.input-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.input-group label {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  background-color: white;
  padding: 0 0.25rem;
  color: #000000;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: 4px;
  left: 0.5rem;
  color: #000000;
  font-size: 0.75rem;
}
.otp-input > div > input {
  width: 20% !important;
  height: 60px;
  border: 1px solid #000000;
}